*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(245, 251, 255);
    position: relative;
    --Poppins:'poppins', Arial;
    --semi-Bold-Popp:'semiboldpoppins', Arial;
    --color-secondary-blue:#2f8dbc; 
    --color-secondary-gray:#dfdbdb; 
}

/* header principal de la landing */
header{
    animation: aparecer linear 3s;
    animation:minimize-header linear both;
    animation-timeline:scroll(root block);
    color: white;
    /* background-color: #02202f; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 111;

}
.title{
    font-family: "poppinsBold",Arial, Helvetica, sans-serif;
    font-weight: bold;
}


header figure{
    display: flex;
    padding: 10px;
    align-items: center;

    }

figure h1{
    margin-left: 10px;
    font-size: 18px;
    display: flex;
    letter-spacing: 1px;
    font-family: var(--Poppins);
}

#logo_h{
    width: 50px;
    height: 45px;
    border-radius: 15px;
    background-color: aliceblue;

    
}
.sobre_nosotros{
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    padding: 6px;
    font-family: var(--semi-Bold-Popp);
}
.contacto{
    justify-content: center;
    align-items: center;
    padding: 6px;

}


.contain_info_icons{
    display: flex;
    margin-right: 10px;    
}

.sobre_nosotros a{
    text-decoration: none;
    color:aliceblue;
    text-transform: uppercase;
    padding: 5px;
    border-bottom: solid transparent;
}

.sobre_nosotros a:hover{
    cursor: pointer;
    border-bottom:solid whitesmoke 2px;
    transition:all ease  .6s;
}
.contacto a{
    text-decoration: none;
    color:aliceblue;
    letter-spacing: 1px;
    padding: 5px;
    border-bottom: solid transparent;

}

.contacto a:hover{
    cursor: pointer;
    border-bottom:solid whitesmoke;
    transition:all ease .6s;
    transform: scale(1.1);
    text-shadow: 0 0 5px whitesmoke;
}
/* hasta aca el header principal */

/* aca empieza la informacion de introduccion, imagen, subtitulos, parrafos */
.subtitle_welcome{
    font-family: "poppinsBold",Arial, Helvetica, sans-serif;
    font-size:42px;
    /* padding: 10px; */
    color: whitesmoke;
    text-shadow: white 0 0 3px;
    margin:40px 0 0 30px;
    height: 100px;
    letter-spacing: 2px;

}

.seccion_introduccion{
    background:linear-gradient( rgba(0,0, 0,0.6),rgba(0,0, 0,0.6)),url(salud.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90dvh;
    animation: aparecer 3s;
    flex-wrap: wrap;

}
.seccion_introduccion section{
    row-gap: 15px;
    display: grid;
    grid-template-rows:1fr 150px 100px;
}

.seccion_introduccion p{
    color: whitesmoke;
    margin: 20px 0 0 30px;
    width: 480px;
    letter-spacing: 2px;
    font-family: var(--Poppins);
}

.contain_info_introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contain_info_introduction article p{
    font-size: 14px;
    text-align: justify;
    line-height: 30px;

}
.contain_info_introduction article{    
    margin:20px 18px;
    height: 120px;
}
.img_menu_principal{
    width: 200px;
    height:320px;
    border-radius: 10px;
    margin:0 0 0 100px;
    z-index: 1;
    position: relative;
    left: 60px;
    bottom: 40px;
    transition: all ease .4s;
    box-shadow: white 0 0 4px;

}

.nutritionview{
    width: 180px;
    height:280px;
    border-radius: 10px;
    margin:0px 0px 0 0;
    z-index: 0;
    bottom: 20px;
    position: relative;
    transition: all ease .5s;
    box-shadow: white 0 0 5px;

}

.seccion_introduccion figure{
    display: flex;
    margin-right: 30px;
}

.nutritionview:hover{
    scale: 1.2;
    transition: all ease .4s;
    z-index: 1;
    position: relative;
    right:20px ;
    box-shadow: white 0 0 10px;
}

.img_menu_principal:hover{
    scale: 1.04;
    transition: all ease .4s;
    z-index: 1;
    box-shadow: white 0 0 10px;
}

.downloadApp{
    text-align: center;
    padding: 10px;
    width: 300px;
    margin:60px 0 0 100px;
    border-radius: 10px;
    border:transparent;
    font-family: var(--semi-Bold-Popp);
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: whitesmoke 0 0 10px;
    cursor: pointer;
    color: #02202f;
    transition: all ease .4s;
}

.downloadApp:hover{
    transform: scale(1.1);
    transition: all ease .4s;
    background-color: #02202f;
    color: aliceblue;
    border: none;
    text-shadow: 0 0 7px whitesmoke;
}
/* hasta aca llega la seccion de introduccion */
/* secciones y funcion que posee healthypath */
.bento {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 180px);
    gap: 15px;
    padding: 20px;
    margin-top: 20px;
}

.bento img {
    width: 100%;
    height: 100%;
    min-height: 400px;
    object-fit: contain;
    border-radius: 16px;

}

.item-1{
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: white;
    width: fit-content;
    height:fit-content;
    position: relative;
    border-radius: 18px;
    transition: all ease .4s;

}
.item-2{
    grid-column: 2 ;
    grid-row:2 / 3;
    background-color: white;
    width: fit-content;
    height:fit-content;
    position: relative;
    border-radius: 18px;

}
.item-3{
    grid-column: 3;
    grid-row: 1 / 3;
    background-color: white;
    width: fit-content;
    height:fit-content;
    position: relative;
    border-radius: 18px;

}
.item-4{
    grid-column: 4;
    grid-row: 2 / 3;
    background-color: white;
    width: fit-content;
    height:fit-content;
    border-radius: 18px;
    position: relative;
}

.item-5{
    grid-column: 5;
    grid-row: 1 / 3;
    background-color: white;
    width: fit-content;
    height:fit-content;
    border-radius: 18px;
    position: relative;

}

.item-2 , .item-4{
    transform: translateY(-160px);
}
.item-1:hover::after{
    content: "✔ Visualizacion del menu principal";
    display: flex;
    text-align: center;
    place-content: center;    
    font-size: 15px;
    font-family: var(--semi-Bold-Popp);
    color: whitesmoke;
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    animation: ap_left ease  .4s;
    transition: all ease .4s;
}
.item-2:hover::after{
    content:'😴 Sección del sueño';
    display: flex;
    text-align: center;
    place-content: center;    
    font-size: 15px;
    font-family: var(--semi-Bold-Popp);
    color: whitesmoke;
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 16px;
    animation: ap_right ease  .4s;
}
.item-3:hover::after{
    content:'📋 Sección de recomendaciones';
    display: flex;
    text-align: center;
    place-content: center;    
    font-size: 15px;
    font-family: var(--semi-Bold-Popp);
    color: whitesmoke;
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    animation: ap_left ease  .4s;
}
.item-4:hover::after{
    content:'🥗 Sección de nutrición';
    display: flex;
    text-align: center;
    place-content: center;    
    font-size: 15px;
    font-family: var(--semi-Bold-Popp);
    color: whitesmoke;
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 16px;
    animation: ap_right ease  .4s;
}
.item-5:hover::after{
    content:'🏋️‍♀️ Sección de actividad física';
    display: flex;
    text-align: center;
    place-content: center;    
    font-size: 15px;
    font-family: var(--semi-Bold-Popp);
    color: whitesmoke;
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 16px;
    animation: ap_right ease  .4s;
}

.funcion_healthypath{
    display: grid;
    grid-template-columns: 260px 1fr;
    height: 400px;
    margin-top: 180px;
    min-height: fit-content;
    background-color: #02202f;
}
.funcion_healthypath header{
    padding: 10px;
    font-family: var(--Poppins);
    font-size: 15   px;
    z-index: 0;
    text-align: center;
    display: flex;
    align-items: center;

}

.funcion_healthypath header h3{
    color: whitesmoke;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.funcion_healthypath article{
    background-color: white;
    padding: 15px;
}

.funcion_healthypath p{
    margin: 10px 0 20px 0;
    text-align: justify;
    font-family: var(--Poppins);
    letter-spacing: 1.5px;
    line-height: 28px;
    width:auto;
    font-size: 14px;
    text-align: center;
}
.img-user-figure{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.user-cell-img{
    width: auto;
    border-radius: 5px;
    height: 200px;
}
.seccion_info{
    background-color: #02202f;
    height: fit-content;
    padding:0 20px 20px 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--semi-Bold-Popp);
}
.dispone{
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #053952;
    font-size: 1.7em;
    background-color: rgba(255, 255, 255, 0.87);
    font-family: var(--semi-Bold-Popp);
}



/* Carrusel de imagenes */
.section_carrusel{
    margin:  20px 20px;
    display: flex;
    justify-content: center;
}

.carrusel_caps{
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 800px;
    border-radius:0  25px 0 25px;
    padding: 30px;
    background-color: rgb(182, 179, 174);
    z-index: 1;
    
}
.carrusel_caps img{
    width:0;
    height: 420px;
    flex-grow: 1;
    object-fit: cover;
    background-color: white;
    padding: 10px;
    opacity: .8;
    transition: all ease .4s;
    border-radius: 18px;
}
.carrusel_caps img:not(:hover){
    filter: contrast(80%);
    width: 80px;
}

.carrusel_caps img:hover{
    opacity: 1;
    width: 80px;
    filter: contrast(120%);
    cursor: crosshair; 
}
.carrusel_caps img:nth-child(2), .carrusel_caps img:nth-child(4){
    background-color: #f5e9d4;
}

.subtitulo_carrusel{
    padding: 20px;
    text-transform: uppercase;
    max-width: fit-content;
    background-color: rgba(215, 218, 220, 0.986);
    border-radius:25px  25px 25px 25px;
    color: #053952;
    position: absolute;
    letter-spacing: 2px;
    font-family: var(--semi-Bold-Popp);
    margin: 30px 0 0 0;
    transform: translateY(50px);
}
.article-carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aliceblue; */
    transform: translateY(30px);

}
.man-workout-img{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
    animation: respiration ease-in-out 1s infinite alternate;
}

.box_infoimportant{
    display: flex;
    place-content: center;
    background-color: rgb(220, 222, 225);
    padding: 10px;
    margin: 200px 0;
}
.key-points-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,200px);
    gap: 15px;
    padding: 20px;

}

.box_infoimportant article{
    background-color:rgb(239, 236, 236);
    border-radius:20px ;
}
.subtitulo-boxinfo{
    grid-column:1;
    grid-row: 1 / 2;
    background:linear-gradient(rgba(0, 0, 0, 0.755),rgba(0, 0, 0, 0.766)) ,url(../img/views/key-point.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px); 
    border-radius:6px 6px 20px 20px;
}
.subtitulo-boxinfo{
    color: whitesmoke;
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    font-family: var(--semi-Bold-Popp);
    padding: 10px;
    letter-spacing: 2px;
    min-height: fit-content;

}
.subtitulo-boxinfo img{
    width: 100px;
    height: 90px;
    background-color: whitesmoke;
    border-radius: 15px;
    object-fit: cover;
}
.objetivo{
    grid-column:2;
    grid-row: 1 / 2;
    background-color: rgb(239, 236, 236);
    min-height: fit-content;

}
.mision{
    grid-column:1;
    grid-row: 2 / 3;
    background-color: rgb(239, 236, 236);
    min-height: fit-content;


}
.vision{
    grid-column:2;
    grid-row: 2 / 3  ;
    background-color: rgb(239, 236, 236);
    min-height: fit-content;

}


.objetivo h4{
    background-color: #f7ad19;
    border-radius: 6px 6px 0 0;
    color: var(--color-secondary-gray);
    line-height: 35px;
    text-align: center;
    font-family: var(--semi-Bold-Popp);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform:uppercase ;
}
.mision h4{
    background-color: #2f9b61;
    border-radius: 6px 6px 0 0;
    color: var(--color-secondary-gray);
    line-height: 35px;
    text-align: center;
    font-family: var(--semi-Bold-Popp);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform:uppercase ;
}
.vision h4{
    background-color:#02202f;
    border-radius: 6px 6px 0 0;
    color: var(--color-secondary-gray);
    line-height: 35px;
    text-align: center;
    font-family: var(--semi-Bold-Popp);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform:uppercase ;
}
.vision p, .mision p, .objetivo ul{
    font-size: 15px;
    text-align: justify;
    font-family: var(--Poppins);
    padding: 8px;
}
.objetivo ul li{
    margin: 8px 0;
    list-style: inside;}
.vision p{
    line-height: 32px;
}
#touch{
    height: 20px;
    width: 25px;
}
.subtitulo_organigrama{
    padding: 20px;
    max-width: fit-content;
    font-size: 20px;
    border-radius: 10px;
    font-family: var(--semi-Bold-Popp);
    color: #053952;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background-color: whitesmoke;
}
.article-organigrama{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: lightblue;
    margin-bottom: 200px;
}

.organigramaimg{
    display: flex;
    align-items: center;
    justify-content: center;

}
.organigramaimg img{
    width: 700px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    
}
.box_serv_sol{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    background-color: white;
    padding:30px 20px;
    gap: 80px;
    height: 600px;
    min-height: fit-content;
}
.servicios{
    width: 90%;
    height: 380px;
    margin: 10px 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    min-height: fit-content;

}
.servicios > article, .soluciones > article{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: var(--color-secondary-gray);
    height: 90%;
    min-height: fit-content;
    border-radius:30% 10% 30% 0;
    padding: 10px 10px;
}
.service-img, .solution-img{
    width: 420px;
    height: 380px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.solution-img img, .service-img img{
    width: auto;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.soluciones{
    width: 90%;
    height: 440px;
    margin: 10px 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    min-height: fit-content;
}
.servicios h4, .soluciones h4{
    text-align: center;
    font-family: var(--semi-Bold-Popp);
    font-size: 2.5em;
    color: #053952;
    border-radius: 5px;
    padding: 4px;
    text-transform: uppercase;
}

.servicios p, .soluciones p{
    font-size: 14px;
    text-align: start;
    padding: 14px;
    letter-spacing: 1.2px;
    margin-top: 15px;
    line-height: 1.8;
    color: rgb(39, 32, 32);
    font-family: var(--Poppins);
}
hr{
    background-color: rgba(255, 249, 249, 0.938);
    width: 95%;
    height: 2px;
    border: none;
    
}
footer{
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    height: 260px;
    background-color: #053952;
    padding: 15px 5px;
}

footer h4{
    font-size: 20px;
    border-radius: 10px;
    color: whitesmoke;
    letter-spacing: 1.2px;
    font-family: var(--semi-Bold-Popp);
}
footer .redes-sociales article{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        min-height: fit-content;
}
.copy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1 / -1 ;
    margin-top: 20px;
    min-height: fit-content;
}
.redes-sociales,.contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.redes-sociales article{
    display: flex;
    gap:0 10px;
}
.redes-sociales article a img{
    width: 35px;
    height: 30px;
    object-fit: cover;
    transition: all ease .4s;

    &:hover{
        transform: scale(1.2);
        transition: all ease .4s;
        cursor: pointer;
    }
}
small{
    color: white;
    font-family: var(--Poppins);
}
.copy article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
}
.contact-box a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'poppinsnormal', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    transition: all ease .4s;
}
.contact-box a:hover{
    transform: scale(1.1);
    transition: all ease .4s;
    cursor: pointer;
    text-shadow: 0 0 5px whitesmoke;
}
/* .contact-box ul{
    margin-left: 25px   ;
} */
.contact-box ul li{
    margin: 8px 0;
    list-style-type:none;}
/* animaciones e importacion de fuentes*/
@font-face{
    font-family: "poppins";
    src: url(../fonts/poppins/Poppins-Italic.ttf) format("truetype");
    font-weight: 200;

}
@font-face{
    font-family: "poppinsnormal";
    src: url(../fonts/poppins/Poppins-Light.ttf) format("truetype");
    font-weight: 200;

}
@font-face{
    font-family: "semiboldpoppins";
    src: url(../fonts/poppins/Poppins-SemiBold.ttf) format("truetype");

}

@font-face{
    font-family: "poppinsBold";
    src: url(../fonts/poppins/Poppins-Bold.ttf) format("truetype");

}
@keyframes respiration{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
@keyframes ap_left{
    from{
        opacity: 0;
        visibility: hidden;
        left: -10px;
    }
    to{
        opacity: 1;
        visibility: visible;
        left: 0;

    }
    
}
@keyframes ap_right{
    from{
        opacity: 0;
        visibility: hidden;
        right: 10px;
    }
    to{
        opacity: 1;
        visibility: visible;
        right: 0px;

    }
    
}
@keyframes  minimize-header{
    from{
        background-color: #053952;
    }
    to{
        background-color: rgba(5, 52, 84, 0.614);
        backdrop-filter: blur(5px);
        font-size: 18px;
        letter-spacing: 0;
        padding: 10px;    }
}

@keyframes aparecer{
    from{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
@keyframes aparecer-side{
    from{
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

/* responsive design mobile*/
/* responsive design mobile */
@media(max-width: 768px){
    body{
        overflow-x: hidden;
    }

    header{
        
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    header figure h1{
        font-size: 16px;
        letter-spacing: 2px;
        transform: translateY(9px);
    }

    .contain_info_introduction{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .funcion_healthypath{
        animation: aparecer 2s;
    }
    .funcion_healthypath p{
        animation: aparecer 3s;
    }
    .contain_info_icons{
        margin-right: 0;
        
    }
    .contain_info_icons a{
        font-size: 12px;
    }


    .contain_info_introduction figure{
        display: none; /* ocultamos imágenes grandes en móvil */
    }
    .downloadApp{
        width: 100%;
        margin: 20px auto;
        font-family: 'poppinsBold',Arial, Helvetica, sans-serif;
    }

    .img_menu_principal,
    .nutritionview{
        margin: 10px 0;
        width: 150px;
        height: auto;
        position: static;
    }

    .seccion_introduccion{
        height: auto; /* que se ajuste al contenido */
        padding: 20px 10px;
        background-attachment: scroll; /* evita problemas en móvil */
    }

    .seccion_introduccion p{
        width: 100%;
        max-width: 320px;
        font-size: 14px;
        margin: 10px auto;
        text-align: center;
    }

    .subtitle_welcome{
        font-size: 28px;
        text-align: center;
        margin: 10px auto;
    }

    .funcion_healthypath p{
        width: 100%;
        max-width: 320px;
        font-size: 14px;
        margin: 10px auto;
    }

    .figOne, .figTwo, .figTree, .figFourth{
        width: 70%;
        height: auto;
        margin: 15px auto;
    }
    .figOne h4, .figTwo h4, .figTree h4, .figFourth h4{
        font-size: 14px;
        padding: 4px;
    }

    .box_infoimportant{
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
    }

    .box_infoimportant article{
        width: 90%;
        margin: 10px 0;
    }

    .organigramaimg img{
        width: 100%;
        max-width: 320px;
        height: auto;
    }

    .box_serv_sol{
        flex-direction: column;
        align-items: center;
    }

    .servicios, .soluciones{
        width: 90%;
        height: auto;
        margin: 15px 0;
    }

    .carrusel_caps{
        width: 100%;
        max-width: 320px;
        height: auto;
        flex-direction: column;
    }

    .carrusel_caps img{
        height: 180px;
        width: 100%;
        flex-grow: unset;
        margin: 5px 0;
    }

    footer h4{
        font-size: 16px;
        text-align: center;
    }

    footer p{
        font-size: 12px;
        text-align: center;
        text-indent: 0;
    }
    .recomen_box h5, .activity_box h5,.nutrition_box h5, .menu_box h5, .sueno_box h5{
        font-size: 16px;
        margin-left: 10px;
    }
    .subtitulo_carrusel,.subtitulo_organigrama{
        margin: 20px 13px;

    }
    .servicios p, .soluciones p{
        font-weight: 800px;
    }
}